# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Emanuele\Desktop\Emanuele\Programmi\Programmazione\Python\Progetto Ingegneria del Software\GUI\Prova codice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
